.about-us-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.banner {
  width: 100%;
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  
    text-align: center;

}
.team-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team-members {
  flex: 1;
}

.team-members ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-members li {
  margin-bottom: 20px;
}

.team-members h3 {
  margin: 0 0 10px 0;
}

.team-image {
  flex: 1;
  margin-left: 20px;
}

.team-image img {
  width: 100%;
}
